#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: fr 1fr 1fr;
  gap: 10px;
}

#container > span {
  display: flex;
  width: 80px;
  border: 1px solid red;
  height: 80px;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}
